[run]
branch = True
omit =
    */migrations/*
    */__pycache__/*
    manage.py
    config/asgi.py
    config/wsgi.py
    config/settings*.py
    config/urls.py
    */admin.py
    */apps.py
    */api/urls.py
    */tests/*
    */management/commands/*
    */seed_*.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    def __str__
