# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtualenv
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Environment variables
# =========================
.env

# =========================
# Docker
# =========================
.pgdata/
docker-data/

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# =========================
# Misc
# =========================
*.egg-info/
dist/
build/
